.visualization-view
  position: relative
  display: flex
  flex-direction: column
  min-height: 100%;
  font-family: $family-sans
  iframe.visualization-runner
    position: absolute
  .visualization-view-body
    flex: 1
    margin-left: 5px
    margin-top: 5px
    .visualization-view-title
      font-size: 2.5em
  .license-info
    color: #cccccc
    margin-left: 5px
    margin-top: 5px
